{% extends 'main/base.html' %}

{% block content %}

  <div class="col-12">
      <form class='row' method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <h3 class="card-title">
                        Введите адрес электронной почты
                    </h3>
                    <div class="card-body">
                        {% csrf_token %}
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control mb-3">
                        <button type="submit" class="btn btn-success">
                            Отправить
                        </button>
                    </div>
                </div>
            </div>
      </form>
  </div>

{% endblock %}