{% extends 'main/base.html' %}

{% block content %}

<div class="col-12 mb-5">

    <a class="bnt btn-outline-primary" href="{% url 'main:create_factory' %}">Добавить завод</a>

</div>

<main class="row">

{% for object in object_list|slice:100 %}
    {% if not object or object.user == user or user.is_superuser or object_groups_user == object_groups %}

<div class="row text-center col-4">
    <div class="card rounded-3 shadow-sm">

        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ object|title }}</h4>
        </div>

        <div class="card-body">

            <div>
                <p>{{ object.comments }}</p>
            </div>

            <div class="d-flex justify-content-between align-items-centor">
                <div class="bnt-group">

                    <a class="bnt btn-sm btn-outline-secondary" href="{% url 'main:factory_detail' object.pk %}">Посмотреть</a>

                    {% if not object or object.user == user or user.is_superuser %}

                        <a class="bnt btn-sm btn-outline-secondary" href="{% url 'main:factory_edit' object.pk %}">Редактировать</a>

                        <a class="bnt btn-sm btn-outline-secondary" href="{% url 'main:delete_factory' object.pk %}">Удалить</a>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

    {% endif %}
{% endfor %}

</main>

{% endblock %}