{% extends 'main/base.html' %}

{% block content %}

<div class="row text-center">
    <div class="col-4">
        <div class="card mb-4 rounded-3">
            <div class="card-header">
                <h4 class="my-0 fw-normal">Заводы</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ factory }}</h1>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-4 rounded-3">
            <div class="card-header">
                <h4 class="my-0 fw-normal">Розничные сети</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ retail_network }}</h1>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-4 rounded-3">
            <div class="card-header">
                <h4 class="my-0 fw-normal">Индивидуальные предприниматели</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ IE }}</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}