{% extends 'main/base.html' %}

{% block content %}

<a class="bnt btn-sm btn-outline-secondary" href="{% url 'main:retail_network_list' %}">Назад</a>

<div class="row">

    <div class="row text-center col-4">
        <div class="card rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object|title }} </h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ object.email }}</h2>
                    <p>
                        Создатель странички рознечной сети - {{ user }}
                    </p>

                    <p>
                        {{ object.comments }}
                    </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}